body {
  margin: auto;
  width: 100%;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

header {
  width: 100%;
}

.img-circle {
    border-radius: 50%;
    float: left;
    padding: 10px;
}

#mySketch {
  width: 800px;
  height: 250px;
  background-color: none;
  margin: auto;
  padding: 0px 0px 10px 0px;
}

footer {
  background-color: #7d7865;
  clear: both;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

div {
  max-width: 800px;
  margin: 0 auto;
}

aside {
  margin: auto;
  width: 226px;
  height: 300px;
  float: left;
  text-align: center;
  padding-top: 15px;
}

section {
  margin: auto;
  width: 227px;
  min-height: 300px;
  padding: 15px;
  border: 10px;
  float: left;
  border-style: solid;
  border-width: thick;
  border-color: #9c9a8b;
  text-align: center;
}

/*Typography */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  background-color: #7d7865;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #000;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  color: #9c9a8b;
}

h4 {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #000;
}

nav li {
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-align: left;
}

a {
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

b {
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: white;
}

footer a {
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  vertical-align: middle;
}
